/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[DESKTOP]
    desktop media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.center {margin-left: auto; margin-right: auto;}

$primary_color: #7AADA6;
$secondary_color: #fda720;
$body_color: rgba(#fda720, 0.3);

$title_font: "Press Start 2P", monospace;
$body_font: "Ubuntu Mono", sans-serif;
$cursive_font: "Walter Turncoat", cursive;
$texture: url(http://i.imgur.com/5NGuyjJ.png);

$mobile_xy: 500px;

.heading {font-family: $title_font;}
.content {font-family: $body_font;}

/*---------------
    GLOBAL
-----------------*/

h1, h2, h3, h4, h5, p {
    color: black;
    font-family: $title_font;
    padding: 5px 15px;
}

h1, h2 {
    background-color: rgba(gray, 0.3);
    text-align: center;
}

nav h1, nav h2 {
    background-color: transparent;
}

p, blockquote, ul {
    font-family: $body_font;
}

a {
    cursor: inherit;
    color: purple;
    text-decoration: inherit;
}

//

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: $title_font;
 }

nav button {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    border: none;
    text-align: right;
    background-color: $secondary_color;
    transition: color 0.5s, background-color 0.5s;
    &:hover {
        color: $primary_color;
        background-color: black;
    }
    &:active {
        color: black;
        background-color: $primary_color;
    }
}

nav {
    position: fixed;
    width: 100%;
    background-color: $primary_color;
}

article {background-color: $body_color;}

pre {
    color: white;
    background-color: black;
}

ul {list-style-type: square;}

/*---------------------
 BASE (MOBILE) LAYOUT
-----------------------*/

//this media query is just for consistency
@media all {

    nav {
        height: 80px;
    }

    main {
        padding-top: 80px;
    }

    nav button {
    }

    img {
        height: 160px;
        width: 160px;
    }

    article {
        border-style: solid;
        border-color: $primary_color;
        border-width: 7px;
    }

    p {
        padding: 0 10px;
    }

    pre {
        padding: 5px;
    }

    blockquote {
        font-style: italic;
    }

    ul {
    }
}

/*---------------
    DESKTOP
-----------------*/

@media all and (min-height: $mobile_xy) and (min-width: $mobile_xy){

    main {
        margin: 0 auto;
        width: 60%;
    }

}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa {font-size: 1.5em;}

//TWITTER MADE ME DO IT >_<
.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
