.visible {
 opacity: 1; }

 .invisible {
 opacity: 0; }

 .none {
 display: none; }

 .positionAbsolute {
 position: absolute; }

 .positionStatic {
 position: static; }

 .center {
 margin-left: auto;
 margin-right: auto; }

 .heading {
 font-family: "Press Start 2P", monospace; }

 .content {
 font-family: "Ubuntu Mono", sans-serif; }

 h1, h2, h3, h4, h5, p {
  color: black;
  font-family: "Press Start 2P", monospace;
  padding: 5px 15px; }

  h1, h2 {
  background-color: rgba(128, 128, 128, 0.3);
  text-align: center; }

  nav h1, nav h2 {
  background-color: transparent; }

  p, blockquote, ul {
  font-family: "Ubuntu Mono", sans-serif; }

  a {
  cursor: inherit;
  color: purple;
  text-decoration: inherit; }

  html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

  body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Press Start 2P", monospace; }

  nav button {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.7;
  border: none;
  text-align: right;
  background-color: #fda720;
  transition: color 0.5s, background-color 0.5s; }
  nav button:hover {
   color: #7AADA6;
   background-color: black; }
   nav button:active {
   color: black;
   background-color: #7AADA6; }

nav {
 position: fixed;
 width: 100%;
 background-color: #7AADA6; }

 article {
 background-color: rgba(253, 167, 32, 0.3); }

 pre {
 color: white;
 background-color: black; }

 ul {
 list-style-type: square; }

 @media all {
 nav {
 height: 80px; }
 main {
 padding-top: 80px; }
 img {
 height: 160px;
 width: 160px; }
 article {
  border-style: solid;
  border-color: #7AADA6;
  border-width: 7px; }
  p {
  padding: 0 10px; }
  pre {
  padding: 5px; }
  blockquote {
  font-style: italic; }
}

@media all and (min-height: 500px) and (min-width: 500px) {
 main {
 margin: 0 auto;
 width: 60%; }
}

.fa-linkedin {
 color: #4875B4; }

 .fa-twitter {
 color: #33CCFF; }

 .fa-skype {
 color: #12A5F4; }

 .fa-envelope {
 color: gray; }

 .fa-github {
 color: black; }

 .fa-rss-square {
 color: orange; }

 .fa {
 font-size: 1.5em; }

 .twitter-tweet {
 margin-left: auto !important;
 margin-right: auto !important; }
